global
    log /dev/log local0
    log /dev/log local1 notice
    log stdout format raw local0
    chroot /var/lib/haproxy
    stats timeout 30s
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend web_frontend
    bind *:80
    mode http
    default_backend web_servers

backend web_servers 
    mode http
    balance roundrobin
    server server1 172.32.80.10:80 check
    server server2 172.32.80.11:80 check
